* {
  -ms-overflow-style: none;
}
/* ::-webkit-scrollbar {
  display: none;
} */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #80808050;
  /* border-radius: 10px; */
  /* box-shadow: inset 0px 0px 5px white; */
}

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");
  font-weight: normal;
  font-style: normal;
}
/* format('woff'); */

a:visited {
  color: blue;
  text-decoration: none;
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,
.MuiDataGrid-root .MuiDataGrid-cell:focus {
  outline: none !important;
}
.MuiDataGrid-cell--withRenderer:focus {
  outline: none !important;
}

fieldset {
  border: none !important;
  outline: none !important;
}
